{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>Editing {{title}}</h1>

<ul>

    <form method="POST" action="{% url 'editor' title %}">
        {% csrf_token %}
        <br>
        <label for="ncontent">Content</label>
        <br>
        <textarea style="height:auto; width: auto" rows="10" cols="40" name="ncontent" id="ncontent"
            placeholder="The content of your page" required>{{content}}</textarea>
        <br>
        <input name="submit" id="submit" type="submit" value="Save"></input>
    </form>
</ul>

{% endblock %}